body {
  background-color: #eee;
}
.content {
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 20px;
}
.display {
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 20px;
}
.selector {
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 20px;
}
.selected {
  background-color: lightsalmon;
}
